body {
  font-family: "Roboto Mono", monospace;
}

.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  max-width: 720px;
  margin: auto;
}

.subtitle {
  margin-top: 0;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

caption {
  margin-top: 16px;
  margin-bottom: 8px;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid black;
  padding: 4px;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.irrelevant {
  color: gray;
}

.irrelevant:hover {
  color: black;
}
