body {
  font-family: "Roboto Mono", monospace;
  background: #1b1a1a;
  color: #e4e4e4;
}

.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  max-width: 720px;
  margin: auto;
}

.subtitle {
  margin-top: 0;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

caption,
figcaption {
  margin-top: 16px;
  margin-bottom: 8px;
}

table {
  border-collapse: collapse;
  margin: 20px 0;
}

figure {
  margin: 20px 0;
}

table td,
table th {
  border: 1px solid black;
  padding: 4px;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.irrelevant {
  color: #d2d2d2;
}

.irrelevant:hover {
  color: #e4e4e4;
}

a:link,
a:visited {
  color: #e4e4e4;
  text-decoration-color: #6b00bc;
  text-decoration-thickness: 2px;

  transition: text-decoration-color 0.2s;

  text-underline-offset: 2px;
}

ul {
  list-style-type: disc;

}

li::marker {
  color: #6b00bc;
}
